<div class="posttv posttv-video-container" style="min-height: 0px;">
    <div id="video-player-container" class="video-content-row unselectable player-top">
        <div>
            <div class="video-content-well video-single flex-video widescreen " data-logo="posttv">
                <div class="ptv-promo ptv-not-support-msg"
                     data-show-promo="http://s3.amazonaws.com/posttv-thumbnails-prod/02-05-2017/t_1486318776144_name_nasafootballthumbnail.png"
                     style="display: none; background-image: url(&quot;//img.washingtonpost.com/wp-apps/imrs.php?src=http%3A%2F%2Fs3.amazonaws.com%2Fposttv-thumbnails-prod%2F02-05-2017%2Ft_1486318776144_name_nasafootballthumbnail.png&amp;w=1145&quot;);">
                    <div class="ptv-flash-required-msg absolute-center" style="display: none;"><p class="no-redirect-url absolute-center">Please enable flash to
                        watch this video.</p></div>
                    <div class="ptv-no-sources-msg absolute-center" style="display: none;"><p class="no-redirect-url absolute-center">Sorry, this video is not
                        available.</p></div>
                    <div class="ptv-live-redirect-msg absolute-center" style="display: none;"><p class="no-redirect-url absolute-center">Your browser does not
                        currently support live streaming video.</p></div>
                </div>
                <div id="player-container-posttv-video-template"
                     class="mb0 posttv-video ooyala-player-processed"
                     data-init-ooyala-player=""
                     data-video-data-id="video-data-posttv-video-template"
                     data-autoplay="1"
                     data-player-type="posttv-player"
                     data-show-ad=""
                     data-companion-ad="1"
                     data-auto-init="1"
                     data-use-custom-scrubber="1"
                     data-show-endscreen="0"
                     data-truth-teller-enabled="false"
                     data-show-posttv-overlay="1"
                     data-hide-posttv-overlay-buttons="1"
                     data-hide-promo-details="1"
                     data-adtagurl-suffix=""
                     -data-ad-pattern="1010"
                     data-initial-time=""
                     data-aspect-ratio="427:240">
                    <div class="plugins">
                        <div class="ptv-promo" style="display: none;" data-track-click="," data-event-type="event6_5" data-splunk-only="true">
                            <div class="ptv-promo-info">
                                <div class="ptv-promo-play">
                                    <i class="fa fa-play icon-play"></i><span class="ptv-promo-play-prompt franklin-bold">Play Video</span><span class="ptv-promo-play-live franklin-bold">Live Video</span>
                                </div>
                                <span class="ptv-promo-logo"></span></div>
                        </div>
                    </div>
                    <div id="player-container-posttv-video-template-JW"
                         class="jwplayer jw-reset jw-state-paused jw-skin-bekle jw-stretch-uniform jw-flag-aspect-mode jw-breakpoint-5"
                         tabindex="0"
                         style="width: 100%; height: 270px;">
                        <div class="jw-aspect jw-reset" style="padding-top: 56.25%;"></div>
                        <div class="jw-media jw-reset">
                            <video class="jw-video jw-reset"
                                   jw-loaded="data"
                                   style="object-fit: fill;"
                                   src="blob:https://www.washingtonpost.com/1fe92637-73a2-406a-913e-0a119cac5969"></video>
                        </div>

                        <div class="jw-preview jw-reset"></div>
                        <div class="jw-captions jw-captions-enabled jw-reset" style="height: 644px; font-size: 26px;">
                            <div class="jw-captions-window jw-reset"><span class="jw-captions-text jw-reset"
                                                                           style="color: rgb(255, 255, 255); font-family: Arial, sans-serif; background-color: rgb(0, 0, 0);"></span>
                            </div>
                        </div>
                        <div class="jw-title jw-reset" style="display: none; padding-left: 0px; padding-right: 0px;">
                            <div class="jw-title-primary jw-reset"></div>
                            <div class="jw-title-secondary jw-reset"></div>
                        </div>
                        <div class="jw-overlays jw-reset">
                            <div id="player-container-posttv-video-template-JW_jwPlayerSharing.min"
                                 class="jw-plugin jw-reset"
                                 style="width: 100%; height: 100%; z-index: 10; bottom: 0px; display: none;">
                                <div class="ptv-overlay-container ng-scope"
                                     data-ptv-player-plugin=""
                                     data-ng-controller="JWPlayerOverlayCtrl"
                                     data-ng-init="init();">
                                    <div class="overlay share">
                                        <div class="left">
                                            <span class="overlay-label">Share this video</span>
                                            <div class="video-info">
                                                <div class="video-title ng-binding" data-ng-bind="view.videoTitle">Astronauts send Super Bowl LI message to
                                                    earth
                                                </div>
                                                <div class="video-date ng-binding" data-ng-bind="view.videoDate">February 5, 2017</div>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="video-info">
                                                <div class="share-buttons">
                                                    <ul class="inline-list share-block-grid">
                                                        <li class="share-button fb"><a href="#"
                                                                                       class="radius button"
                                                                                       data-fb-on-click="share-overlay"><i class="icon-facebook"></i></a></li>
                                                        <li class="share-button twitter"><a href="#"
                                                                                            class="radius button"
                                                                                            data-twitter-on-click="share-overlay"><i class="icon-twitter"></i></a>
                                                        </li>
                                                        <li class="share-button google-plus"><a href="#"
                                                                                                class="radius button"
                                                                                                data-plus-on-click="share-overlay"><i class="icon-google-plus"></i></a>
                                                        </li>
                                                        <li class="share-button email"><a href="#"
                                                                                          class="radius button"
                                                                                          data-email-btn-on-click="share-overlay"><i class="icon-envelope"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="fields">
 <span class="field-label"><strong class="ft13 antialiased">Direct&nbsp;link</strong>
 </span>
                                                    <input type="text"
                                                           id="shortURL"
                                                           name="shortURL"
                                                           class="small-6 large-6 text-field shorturl ng-pristine ng-valid"
                                                           spellcheck="false"
                                                           data-ng-model="share.shareURL"
                                                           data-highlight-all-on-select="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="overlay-button close-button"><a href="#"
                                                                                    class="radius button"
                                                                                    data-jw-toggle-overlay="share"
                                                                                    data-prevent-default=""><i class="icon-remove"></i></a></div>
                                        <a href="#"
                                           data-show-this-overlay="embed"
                                           data-prevent-default=""><span class="overlay-switch-link">Embed this video</span></a>
                                    </div>
                                    <div class="overlay embed">
                                        <div class="left">
                                            <span class="overlay-label">Embed this video</span>
                                            <div class="video-info">
                                                <div class="video-iframe-embedcode">
                                                    <span class="field-label"><strong class="ft13 antialiased">Embed&nbsp;code</strong></span>
                                                    <textarea id="embedcode"
                                                              data-highlight-all-on-select=""
                                                              spellcheck="false"
                                                              data-ng-bind="embed.iframe"
                                                              class="ng-binding">&lt;iframe width="480" height="290" scrolling="no" src="//www.washingtonpost.com/video/c/embed/f0bbb086-ebcf-11e6-a100-fdaaf400369a" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen&gt;&lt;/iframe&gt;</textarea>
                                                </div>
                                                <div class="">
                                                    <form class="custom mb0 pb0 ng-valid ng-dirty">
                                                        <select class="video-size-select custom bold mb0 ng-valid ng-dirty"
                                                                data-ng-model="embed.currentEmbed"
                                                                data-ng-options="e.name for e in embed.sizes"
                                                                data-trigger-foundation="1"
                                                                data-customforms="disabled">
                                                            <option value="" class="">Video size</option>
                                                            <option value="0">420x255</option>
                                                            <option value="1">480x290</option>
                                                            <option value="2">640x400</option>
                                                            <option value="3">960x560</option>
                                                        </select>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="video-info">
                                                <div>
 <span class="field-label"><strong class="ft13 antialiased">Direct&nbsp;link</strong>
 </span>
                                                    <input type="text"
                                                           id="embedShortURL"
                                                           name="embedShortURL"
                                                           class="small-8 large-8 shorturl ng-pristine ng-valid"
                                                           spellcheck="false"
                                                           data-ng-model="share.shareURL"
                                                           data-highlight-all-on-select="">

                                                </div>
                                                <div>
                                                    <span class="field-label"><strong class="ft13 antialiased ">Permalink:</strong></span>
                                                    <input type="text"
                                                           id="permalink"
                                                           name="permalink"
                                                           class="small-8 large-8 permalink ng-pristine ng-valid"
                                                           spellcheck="false"
                                                           data-ng-model="share.permaLinkURL"
                                                           data-highlight-all-on-select="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="overlay-button close-button"><a href="#"
                                                                                    class="radius button"
                                                                                    data-jw-toggle-overlay="embed"
                                                                                    data-prevent-default=""><i class="icon-remove"></i></a></div>
                                        <a href="#"
                                           data-show-this-overlay="share"
                                           data-prevent-default=""><span class="overlay-switch-link">Share this video</span></a>
                                    </div>
                                </div>
                            </div>
                            <div id="player-container-posttv-video-template-JW_googima"
                                 class="jw-plugin jw-reset"
                                 style="overflow: hidden; width: 100%; height: 100%; display: block; visibility: hidden; pointer-events: none; opacity: 0;">
                                <div id="player-container-posttv-video-template-JW_ad" style="position: absolute; width: 100%; height: 100%;">
                                    <div style="position: absolute;">
                                        <iframe src="https://imasdk.googleapis.com/js/core/bridge3.157.2_en.html#goog_2043523994"
                                                allowfullscreen=""
                                                style="border: 0px; opacity: 0; margin: 0px; padding: 0px; position: relative;"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div id="player-container-posttv-video-template-JW_jwpsrv" class="jw-plugin jw-reset"></div>
                            <div id="player-container-posttv-video-template-JW_related" class="jw-plugin jw-reset jw-plugin-related"></div>
                        </div>
                        <div class="jw-controls jw-reset">
                            <div class="jw-display-icon-container jw-background-color jw-reset">
                                <div class="jw-icon jw-icon-display jw-button-color jw-reset" role="button" tabindex="0" aria-label="Start playback"></div>
                            </div>
                            <div class="jw-controls-right jw-reset">
                                <div class="jw-dock jw-reset">
                                </div>
                            </div>
                            <div class="jw-nextup-container jw-reset">
                                <div class="jw-nextup jw-reset">
                                    <div class="jw-nextup-tooltip jw-reset">
                                        <div class="jw-nextup-header jw-reset">

                                        </div>
                                        <div class="jw-nextup-body jw-background-color jw-reset">
                                            <div class="jw-nextup-thumbnail jw-reset"></div>
                                            <div class="jw-nextup-title jw-reset"></div>
                                        </div>
                                    </div>
                                    <button class="jw-nextup-close"></button>
                                </div>
                            </div>
                            <div class="jw-controlbar jw-background-color jw-reset">
                                <div class="jw-group jw-controlbar-left-group jw-reset">
                                    <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-playback"
                                         role="button"
                                         tabindex="0"
                                         aria-label="Play"></div>
                                    <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-rewind"
                                         role="button"
                                         tabindex="0"
                                         aria-label="Rewind 10s"></div>
                                    <span class="jw-text jw-reset jw-text-elapsed" role="timer">00:07</span></div>
                                <div class="jw-group jw-controlbar-center-group jw-reset">
                                    <div class="jw-slider-time jw-background-color jw-reset jw-slider-horizontal jw-reset" aria-hidden="true">
                                        <div class="jw-slider-container jw-reset">
                                            <div class="jw-rail jw-reset"></div>
                                            <div class="jw-buffer jw-reset" style="width: 100%;"></div>
                                            <div class="jw-progress jw-reset" style="width: 29.2984%;"></div>
                                            <div class="jw-knob jw-reset" style="left: 29.2984%;"></div>
                                            <div class="jw-icon jw-icon-tooltip jw-tooltip-time jw-button-color jw-reset" aria-hidden="true">
                                                <div class="jw-overlay jw-reset">
                                                    <div class="jw-time-tip jw-background-color jw-reset">
                                                        <div class="jw-reset" style="width: 0px; height: 0px;"></div>
                                                        <span class="jw-text jw-reset"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="jw-text jw-reset jw-text-alt" role="status"></span></div>
                                <div class="jw-group jw-controlbar-right-group jw-reset"><span class="jw-text jw-reset jw-text-duration"
                                                                                               role="timer">00:23</span>
                                    <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-next"
                                         role="button"
                                         tabindex="0"
                                         aria-label="Next"
                                         style="display: none;"></div>
                                    <div class="jw-icon jw-icon-tooltip jw-icon-hd jw-button-color jw-reset jw-off"
                                         tabindex="0"
                                         role="button"
                                         aria-label="Quality"
                                         aria-hidden="true">
                                        <div class="jw-overlay jw-reset">
                                            <ul class="jw-menu jw-background-color jw-reset">
                                                <li class="jw-text jw-option jw-item-0 jw-reset jw-active-option">Auto</li>
                                                <li class="jw-text jw-option jw-item-1 jw-reset">1080p</li>
                                                <li class="jw-text jw-option jw-item-2 jw-reset">720p</li>
                                                <li class="jw-text jw-option jw-item-3 jw-reset">360p</li>
                                                <li class="jw-text jw-option jw-item-4 jw-reset">180p</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="jw-icon jw-icon-tooltip jw-icon-cc jw-reset jw-toggle jw-off"
                                         tabindex="0"
                                         role="button"
                                         aria-label="Closed captions"
                                         aria-hidden="true">
                                        <div class="jw-overlay jw-reset"></div>
                                    </div>
                                    <div class="jw-icon jw-icon-tooltip jw-icon-audio-tracks jw-button-color jw-reset jw-hidden"
                                         tabindex="0"
                                         role="button"
                                         aria-label="Audio tracks"
                                         aria-hidden="true">
                                        <div class="jw-overlay jw-reset"></div>
                                    </div>
                                    <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-volume"
                                         role="button"
                                         tabindex="0"
                                         aria-label="Volume"></div>
                                    <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-cast jw-off"
                                         role="button"
                                         tabindex="0"
                                         aria-label="Chromecast"
                                         style="display: none;"></div>
                                    <div class="jw-slider-volume jw-background-color jw-reset jw-slider-horizontal jw-reset" aria-hidden="true">
                                        <div class="jw-slider-container jw-reset">
                                            <div class="jw-rail jw-reset"></div>
                                            <div class="jw-buffer jw-reset"></div>
                                            <div class="jw-progress jw-reset" style="width: 90%;"></div>
                                            <div class="jw-knob jw-reset" style="left: 90%;"></div>
                                        </div>
                                    </div>
                                    <div class="jw-icon jw-icon-tooltip jw-icon-volume jw-button-color jw-reset"
                                         tabindex="0"
                                         role="button"
                                         aria-label="Volume"
                                         aria-hidden="false">
                                        <div class="jw-overlay jw-reset">
                                            <div class="jw-slider-volume jw-volume-tip jw-background-color jw-reset jw-slider-vertical jw-reset"
                                                 aria-hidden="true">
                                                <div class="jw-slider-container jw-reset">
                                                    <div class="jw-rail jw-reset"></div>
                                                    <div class="jw-buffer jw-reset"></div>
                                                    <div class="jw-progress jw-reset" style="height: 90%;"></div>
                                                    <div class="jw-knob jw-reset" style="bottom: 90%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-fullscreen"
                                         role="button"
                                         tabindex="0"
                                         aria-label="Fullscreen"></div>
                                </div>
                            </div>
                        </div>
                        <div class="afs_ads" style="width: 1px; height: 1px; position: absolute; background: transparent;">&nbsp;</div>
                        <div class="inner-wrapper "
                             style="position:absolute;				top:0;				left:0;				pointer-events: none;				height: 100%;				width: 100%;"></div>
                        <div class="jw-rightclick jw-reset" style="left: 674px; top: 345px;">
                            <ul class="jw-reset">
                                <li class="jw-reset">
                                    <a href="/video/c/video/topic/topnews" class="jw-reset" target="_top">
                                        PostTV - Washington Post
                                    </a>
                                </li>
                                <li class="jw-reset jw-featured">
                                    <a href="https://jwplayer.com/learn-more" class="jw-reset" target="_top">
                                        Powered by JW Player 7.7.2
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <style>.btn {
                    position:         relative;
                    background-color: #3b3b3b;
                    border-radius:    4px;
                    color:            #ddd;
                    cursor:           pointer;
                    max-width:        98%;
                    overflow:         hidden
                }

                .btn:hover {
                    color: #fff
                }

                input[type="checkbox"] {
                    display: none
                }

                .ptv-sync-content {
                    position:         absolute;
                    background-color: #000;
                    padding:          17px 14px 16px 20px;
                    height:           120px;
                    top:              0;
                    right:            0;
                    width:            40%;
                    opacity:          .85;
                    filter:           alpha(opacity=85);
                    z-index:          10006
                }

                .ptv-sync-content-btn {
                    float:   right;
                    margin:  5px 6px 0 0;
                    padding: 3px 5px;
                    height:  24px
                }

                .ptv-sync-content-btn i {
                    font-size: 16px
                }

                .ptv-sync-content-btn span {
                    font-size: 14px
                }

                .ptv-sync-content-container {
                    display: none
                }

                .ptv-sync-content-textarea-container {
                    height: 57%;
                    width:  98%
                }

                .ptv-sync-content-textarea {
                    background:             #3b3b3b;
                    color:                  #eee;
                    font-size:              14px;
                    line-height:            20px;
                    -webkit-font-smoothing: antialiased;
                    white-space:            pre-wrap;
                    -webkit-transition:     all .30s ease-in-out;
                    -moz-transition:        all .30s ease-in-out;
                    -ms-transition:         all .30s ease-in-out;
                    -o-transition:          all .30s ease-in-out;
                    outline:                0;
                    padding:                3px 0 3px 3px;
                    margin:                 5px 1px 3px 0;
                    border:                 1px solid #ddd;
                    min-height:             45px
                }

                .ptv-sync-content-textarea:focus {
                    background:         #3b3b3b;
                    padding:            3px 0 3px 3px;
                    margin:             5px 1px 3px 0;
                    border-color:       #56b4ef;
                    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 8px rgba(82, 168, 236, .6);
                    box-shadow:         inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 8px rgba(82, 168, 236, .6)
                }

                .ptv-sync-content-points {
                    position:   absolute;
                    margin:     0;
                    height:     100%;
                    width:      100%;
                    list-style: none
                }

                .ptv-sync-content-points li {
                    position: absolute;
                    height:   10px;
                    width:    10px;
                    top:      47%;
                    cursor:   pointer
                }

                .ptv-sync-content-points li:before {
                    content:     "\25CF";
                    font-size:   20px;
                    line-height: 1px;
                    display:     block;
                    color:       #b8b6b6
                }

                .ptv-sync-content-points li.past:before {
                    color: #fff
                }

                .ptv-sync-content-points li:active:before, .ptv-sync-content-points li.active:before {
                    color: #b8b6b6
                }

                .ptv-sync-content-close-btn {
                    position:    absolute;
                    right:       0;
                    top:         0;
                    line-height: 10px;
                    font-weight: lighter;
                    padding:     5px 5px 0 0;
                    color:       #fff;
                    height:      20px;
                    width:       20px;
                    text-align:  center;
                    opacity:     .85;
                    filter:      alpha(opacity=85)
                }

                .ptv-sync-content-close-btn:hover {
                    cursor:       pointer;
                    color:        #c7c6c6;
                    border-color: #c7c6c6
                }

                .no-tweet-this-container {
                    position: relative;
                    float:    left;
                    margin:   9px 0 0 0;
                    width:    6em
                }

                .no-tweet-this-container input[type="checkbox"] {
                    float: left
                }

                .no-tweet-this-container label {
                    float:      left;
                    height:     15px;
                    width:      15px;
                    background: #eee;
                    border:     1px solid #ddd;
                    cursor:     pointer
                }

                .no-tweet-this-container span {
                    margin:      0 0 0 5px;
                    color:       #fff;
                    font-size:   12px;
                    font-weight: 300;
                    cursor:      pointer
                }

                .no-tweet-this-container label:after {
                    opacity:           .2;
                    filter:            alpha(opacity=20);
                    content:           '';
                    position:          absolute;
                    width:             11px;
                    height:            7px;
                    background:        transparent;
                    top:               3px;
                    left:              2px;
                    border:            3px solid #333;
                    border-top:        0;
                    border-right:      0;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform:    rotate(-45deg);
                    -o-transform:      rotate(-45deg);
                    -ms-transform:     rotate(-45deg);
                    transform:         rotate(-45deg)
                }

                input[type="checkbox"]:checked + label:after {
                    opacity: 1;
                    filter:  alpha(opacity=100)
                }

                @media only screen and (max-width: 48em) {
                    .ptv-sync-content {
                        width: 50%
                    }
                }

                @media only screen and (max-width: 36.625em) {
                    .ptv-sync-content {
                        width: 70%
                    }
                }</style>
                <div class="ptv-sync-content-container ng-scope"
                     data-ng-controller="SyncContentCtrl"
                     data-ng-init="init({'playerContainerId': 'player-container-posttv-video-template'});"></div>
            </div>
        </div>
    </div>
</div>